.row{
    background-color: #FFFFFF;
    color: #FFFFFF;
    display: flex;
}

.col{
    background-color: #659DA1;
    padding: 20px; 
    flex: 1;
    width: 300px;
    margin: 20px;
    padding: 20px;
}

.col2{
    background-color: #659DA1;
    padding: 20px;
    flex: 2;
    width: 300px;
    margin: 20px;
    padding: 20px;
}

.col3{
    background-color: #659DA1;
    padding: 20px;
    flex: 3;
    width: 300px;
    margin: 20px;
    padding: 20px;
}